@tailwind base;
@tailwind components;
@tailwind utilities;

/* hover show hide */
.card-product:hover > .card-product-heading {
  display: none;
}

.card-product-action-box {
    display: none;
  }

.card-product:hover > .card-product-action-box {
  display: block;
}
